<%- include ("../partials/header") %>


<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">
				Welcome To YelpCamp!!!
			</h1>
			<h3 class="my-3">
				View Some Of the best Camp Sites across the world
			</h3>
			<hr>
			<a class="btn btn-success btn-lg" href="/campgrounds/new">
				Add New Camp Site
			</a>
		</div>
	</div>
	
	
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<% campgrounds.forEach(function(site){ %>
			<div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12">
				<div class="card mb-4 border-0" style="min-width: 16.6rem;">
					<img src="<%= site.Image %>" class="card-img-top m-0" style="width: 100%;">
					<div class="card-body pt-4 pb-3 px-3">
						<a href="/campgrounds/<%= site._id %>" id="camphead" class="card-title d-block"><%=site.name%></a>
						<a href="/campgrounds/<%= site._id %>" class="btn btn-success pricehloder mr-2 pb-2">Rs <%=site.price%>/N</a>
						<p class="btnholder1">
							<form action="/campgrounds/<%=site._id%>/like" method="POST" class="d-inline">
								<button class="btn btn-primary">
									<i class="fas fa-thumbs-up"></i> <span><%=site.likes.length%></span>
								</button>
							</form>
							<a href="/campgrounds/<%= site._id %>/comments/new" class="btn btn-warning"><i class="far fa-comment"></i></a>
						</p>
					</div>
				</div>
			</div>
		<%})%>
	</div>
</div>
<%- include ("../partials/footer") %>